!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Superkonnect"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
  %body
    .navbar.navbar-inverse
      .navbar-inner
        %a.brand{:href => "#"} Superkonnect
        %ul.nav.pull-right
          %li
            = link_to "Logout #{current_user.name}", logout_path if current_user
    .container
      .row
        .span9
          = bootstrap_flash
          = yield
        .span3
          .well.sidebar-nav
            = yield :sidebar
    
    = javascript_include_tag "application"
